In [1]:
import pandas as pd
from io import StringIO
import requests

### Pepperfry Account

In [ ]:
act = requests.get("https://docs.google.com/spreadsheets/d/1TZ5VDuk7ZshCr81nFC9TT683aViQuZh1o1tmvWrWDds/export?format=csv&gid=0")
dataact = act.content.decode('utf-8')

In [45]:
pf_fur_df = pd.read_csv(StringIO(dataact), thousands=',', parse_dates=['Date'])

In [50]:
pf_fur_df['Account'] = 'Pepperfry'

In [51]:
pf_fur_df.head(3)

,Date,Device,AdNetworkType1,CampaignName,Impressions,Clicks,Cost,Conversions,Account
0,2018-07-08,Tablets with full browsers,Search Network,PLA_Furniture_StudyRooms_Converting_Aug2015,1657,32,587.33,0.0,Pepperfry
1,2018-07-28,Tablets with full browsers,Search Network,PLA_Furniture_StudyRooms_Converting_Aug2015,179,5,39.20,0.0,Pepperfry
2,2018-07-07,Computers,Search Network,PLA_Furniture_Tables_Converting_Aug2015,1087,8,293.11,0.0,Pepperfry

### DSP Blackrock

In [52]:
act = requests.get("https://docs.google.com/spreadsheets/d/1GwBdtVYVK409QWvXlryx4RzunCbzxcQleeKIQqWi16I/export?format=csv&gid=0")
dataact = act.content.decode('utf-8')

In [53]:
dsp_df = pd.read_csv(StringIO(dataact), thousands=',', parse_dates=['Date'])

In [54]:
dsp_df['Account'] = 'DSP_Blackrock'

### Overall

In [55]:
overall_df = pf_fur_df.append(dsp_df)

In [56]:
overall_df['Account'].value_counts()

Pepperfry        25776
DSP_Blackrock     5558
Name: Account, dtype: int64

In [57]:
overall_df.groupby(by=['Account']).sum()

               Impressions   Clicks         Cost  Conversions
Account
DSP_Blackrock     70798447   442028   1882236.50       733.44
Pepperfry        102979381  2964024  12846589.31    171267.00